<p>courses COMPONENT</p>
<div>
<app-header></app-header>
<!-- <app-button [showDeleteIcon]=true></app-button>
<app-button [showEditIcon]=true></app-button>
<app-button text='show courses'></app-button> -->
<!-- <div>
    <app-info title='Your List Is Empty' text='Please use "Add New Course" button to add your first course'></app-info>
    <app-button text='add new courses'></app-button>
</div> -->
<div *ngFor="let course of Courses">
    <app-course-card 
    [Title]="course.title"
    [Description]="course.description"
    [CreationDate]="course.creationDate"
    [Duration]="course.duration"
    [Authors]="course.authors"
    ></app-course-card>
</div>
</div>
